:root {
  --color-darkpurple: #17002f;
  --color-darkblue: #1f2a63;
  --color-text: #ffffff;
  --color-grey: #f6f7f9;
  --color-orange: #ffc107;
  --color-yellow: #f5db13;
  --color-green: #73d677;
  --color-blue: #07d6f2;
  --color-pink: #c956ff;
  --color-black: #212121;

  //padding
  --horizonal-padding: 0 157px;
}
