@import '../../constants/css/mixin';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper_content {
  padding-top: 128px;
  background: linear-gradient(180deg, #1f2a63 0%, var(--color-darkpurple) 100%);
  padding-bottom: 128px;
  flex-grow: 1;

  @include _sm {
    padding-top: 20px;
  }
}

.content {
  display: flex;

  @include _md {
    align-items: center;
  }

  @include _sm {
    flex-direction: column-reverse;
  }
}

.greetings {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  max-width: 480px;
  color: var(--color-text);

  @include _sm {
    max-width: 80%;
    gap: 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    word-break: break-word;

    .bold {
      font-weight: 700;
    }

    @include _sm {
      font-size: 40px;
      line-height: 1;
    }
  }

  &__desc {
    font-size: 32px;
    line-height: 37px;

    @include _sm {
      font-size: 20px;
    }
  }
}

.banner {
  height: 100%;
  width: 100%;
  max-width: 647px;
  position: relative;

  @include _sm {
    max-width: 400px;
  }

  &::before,
  &::after {
    content: '';
    z-index: 1;
    display: inline-block;
    position: absolute;

    background-image: url('../../assets/images/HomePage/cloud.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    top: 0;
    right: -70px;
    width: 343px;
    height: 165px;

    @include _md {
      width: 243px;
    }
  }

  &::after {
    bottom: 223px;
    left: 32px;
    width: 223px;
    height: 107px;
    @include _md {
      bottom: 0;
      width: 150px;
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
