.wrapper {
  padding-top: 28px;
}

.lang {
  color: #4b4b4b;
  font-size: 16px;
  text-align: right;
  margin-bottom: 28px;
}

h1.title {
  font-size: 35px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;

  & > .bold {
    font-weight: 800;
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 30px;

  &__text {
    font-size: 16px;
    color: var(--color-black);
  }

  &__select {
    width: 200px;
  }

  .reset {
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--color-yellow);
    padding: 5px 10px;
  }
}

.characters__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 45px 1%;
  margin-bottom: 50px;
}
